test.py
__pycache__/CellTranspose2D.cpython-39.pyc
__pycache__/loaddata.cpython-39.pyc
__pycache__/misc_utils.cpython-39.pyc
__pycache__/train_eval.cpython-39.pyc
__pycache__/transforms.cpython-39.pyc
cellpose_src/__pycache__/dynamics.cpython-39.pyc
cellpose_src/__pycache__/dynamics.map_coordinates-170.py39.1.nbc
cellpose_src/__pycache__/dynamics.map_coordinates-170.py39.2.nbc
cellpose_src/__pycache__/dynamics.map_coordinates-170.py39.nbi
cellpose_src/__pycache__/metrics.cpython-39.pyc
cellpose_src/__pycache__/transforms.cpython-39.pyc
cellpose_src/__pycache__/utils.cpython-39.pyc
utils/__pycache__/Calc_extents.cpython-39.pyc
__pycache__/CellTranspose2D.cpython-38.pyc
__pycache__/loaddata.cpython-38.pyc
__pycache__/misc_utils.cpython-38.pyc
__pycache__/train_eval.cpython-38.pyc
__pycache__/transforms.cpython-38.pyc
cellpose_src/__pycache__/dynamics.cpython-38.pyc
cellpose_src/__pycache__/dynamics.map_coordinates-170.py38.1.nbc
cellpose_src/__pycache__/dynamics.map_coordinates-170.py38.2.nbc
cellpose_src/__pycache__/dynamics.map_coordinates-170.py38.nbi
cellpose_src/__pycache__/metrics.cpython-38.pyc
cellpose_src/__pycache__/transforms.cpython-38.pyc
cellpose_src/__pycache__/utils.cpython-38.pyc
my_utils/__pycache__/Calc_extents.cpython-38.pyc
test.tif
